<div>
    <h2 id="page-heading">
        <span>VM Host Clusters</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vm-host-cluster" [routerLink]="['/vm-host-cluster/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new VM Host Cluster
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vMHostClusters">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Mo Ref</span></th>
            <th><span>Name</span></th>
            <th><span>V Center</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vMHostCluster of vMHostClusters ;trackBy: trackId">
                <td><a [routerLink]="['/vm-host-cluster', vMHostCluster.id, 'view' ]">{{vMHostCluster.id}}</a></td>
                <td>{{vMHostCluster.moRef}}</td>
                <td>{{vMHostCluster.name}}</td>
                <td>
                    <div *ngIf="vMHostCluster.vCenter">
                        <a [routerLink]="['../v-center', vMHostCluster.vCenter?.id, 'view' ]" >{{vMHostCluster.vCenter?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/vm-host-cluster', vMHostCluster.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vm-host-cluster', vMHostCluster.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vm-host-cluster/'+ vMHostCluster.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
