<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-vm-host-heading">Create or edit a VM Host</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!vMHost.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="vMHost.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_moRef">Mo Ref</label>
                    <input type="text" class="form-control" name="moRef" id="field_moRef"
                        [(ngModel)]="vMHost.moRef" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="vMHost.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ipAddress">Ip Address</label>
                    <input type="text" class="form-control" name="ipAddress" id="field_ipAddress"
                        [(ngModel)]="vMHost.ipAddress" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_datastorecluster">Datastorecluster</label>
                    <select class="form-control" id="field_datastorecluster" name="datastorecluster" [(ngModel)]="vMHost.datastorecluster" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="datastoreClusterOption.id === vMHost.datastorecluster?.id ? vMHost.datastorecluster : datastoreClusterOption" *ngFor="let datastoreClusterOption of datastoreclusters; trackBy: trackDatastoreClusterById">{{datastoreClusterOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_datastore">Datastore</label>
                    <select class="form-control" id="field_datastore" multiple name="datastore" [(ngModel)]="vMHost.datastores">
                        <option [ngValue]="getSelected(vMHost.datastores, datastoreOption)" *ngFor="let datastoreOption of datastores; trackBy: trackDatastoreById">{{datastoreOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
