<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="storageArray">
            <h2><span>Storage Array</span> {{storageArray.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{storageArray.name}}</span>
                </dd>
                <dt><span>Ip Address</span></dt>
                <dd>
                    <span>{{storageArray.ipAddress}}</span>
                </dd>
                <dt><span>User Name</span></dt>
                <dd>
                    <span>{{storageArray.userName}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{storageArray.password}}</span>
                </dd>
                <dt><span>Datastore</span></dt>
                <dd>
                    <div *ngIf="storageArray.datastore">
                        <a [routerLink]="['/datastore', storageArray.datastore?.id, 'view']">{{storageArray.datastore?.id}}</a>
                    </div>
                </dd>
                <dt><span>Virtualvolume</span></dt>
                <dd>
                    <div *ngIf="storageArray.virtualvolume">
                        <a [routerLink]="['/virtual-volume', storageArray.virtualvolume?.id, 'view']">{{storageArray.virtualvolume?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/storage-array', storageArray.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
