<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-datastore-heading">Create or edit a Datastore</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!datastore.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="datastore.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_moRef">Mo Ref</label>
                    <input type="text" class="form-control" name="moRef" id="field_moRef"
                        [(ngModel)]="datastore.moRef" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="datastore.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_wwn">Wwn</label>
                    <input type="text" class="form-control" name="wwn" id="field_wwn"
                        [(ngModel)]="datastore.wwn" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_storagearray">Storagearray</label>
                    <select class="form-control" id="field_storagearray" name="storagearray" [(ngModel)]="datastore.storagearray" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="storageArrayOption.id === datastore.storagearray?.id ? datastore.storagearray : storageArrayOption" *ngFor="let storageArrayOption of storagearrays; trackBy: trackStorageArrayById">{{storageArrayOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_datastorecluster">Datastorecluster</label>
                    <select class="form-control" id="field_datastorecluster" name="datastorecluster" [(ngModel)]="datastore.datastorecluster" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="datastoreClusterOption.id === datastore.datastorecluster?.id ? datastore.datastorecluster : datastoreClusterOption" *ngFor="let datastoreClusterOption of datastoreclusters; trackBy: trackDatastoreClusterById">{{datastoreClusterOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
